<% provide(:title,"Contact")%>
<h1>Contact</h1>

<p>
	<h3><b>Nguyen Xuan Hai</b></h3>
	<h4><b>K57 HEDSPI </b></h4><br>
	Email: <a href="mailto:hainx.hedspi@gmail.com">hainx.hedspi@gmail.com </a><br>
	Facebook: <a href="#">Hai Nguyen</a>
</p>
