<% provide(:title,"Contact")%>
<h1>Contact</h1>

<p>
	<h3><b>Vũ Đức Quý</b></h3>
	<h4><b>K56 HEDSPI - HUST</b></h4><br>
	Email: <a href="mailto:quy.vu.hedspi@gmail.com">quy.vu.hedspi@gmail.com </a><br>
	Facebook: <a href="https://www.facebook.com/quyvu1310">Quý Vũ</a>
</p>
